header {
  padding: 10px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
}

header .header .headLogo {
  display: flex;
  align-items: center;
  gap: 0 5px;
  color: #dc4f72;
}
header .header .headLogo .logo {
  font-size: 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .headerNav {
  display: flex;
  gap: 0 25px;
}
header .home {
  color: #dc4f72 !important;
}
header .headerNav .navbar-nav .nav-item .nav-link {
  color: black;
}
header .headerNav .navbar-nav .nav-item a:hover {
  color: #dc4f72;
}
header .headerBtn {
  color: #dc4f72;
  background-color: white;
  outline: none;
  border-radius: 5px;
  border: 1px solid #dc4f72;
  width: 150px;
  transition: 0.5s;
}
header .headerBtn:hover {
  color: white;
  background-color: #dc4f72;
}
header .headerNav .navbar-nav .nav-item .nav-link {
  position: relative;
}
header .headerNav .navbar-nav .nav-item .nav-link::before {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #dc4f72 !important;
  position: absolute;
  bottom: 15%;
  transition: 0.5s ease;
}

header .headerNav .navbar-nav .nav-item .nav-link:hover::before {
  width: 20px;
}
/* .carousel {
  position: relative;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel::before {
  content: "";
  background-image: url(./image/1.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.07;
  z-index: -1;
}
.carousel h1 {
  position: relative;
  color: black;
}
.carousel .carouselLeft {
  width: 550px;
}

.carousel .carouselRight {
  height: 100%;
}

.carousel .carouselRight img {
  height: 100%;
} */

.carousel {
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(./image/1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.carousel-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-image img {
  width: 100%;
}

.carousel-image img {
  transform: rotate(180deg);
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.text-header {
  text-align: center;
  margin-top: 5em;
}
.text-header h6 {
  color: #dc4f72;
}


.fullAbout {
  margin-top: 5em;
}

.fullAbout .about-image img {
  width: 100%;
}

/* .card-number {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  transition: 0.2s;
}
.card-number .card:hover {
  box-shadow: 0px 9px 20px 2px rgb(0 0 0 / 40%);
}
.card-number .card .card-body h2 {
  color: #dc4f72;
  font-size: 70px;
} */

.card-number {
  margin-top: 5em;
}

.carousel-p2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(./image/4.jpg);
  height: 500px;
  margin-top: 70px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-p2 .commit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: 40px;
}
.carousel-p2 .commit h3 {
  color: white;
  font-weight: 700;
  font-size: 30px;
}
.carousel-p2 .commit p {
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.carousel-p2 .p2Btn {
  color: black;
  outline: none;
  border-radius: 4px;
  border: 1px solid;
  width: 125px;
  height: 50px;
}
.side-group {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 1);
  border-bottom-left-radius: 5px;
  right: 0;
}
.side-group .forward {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
  border-bottom: 1px solid gray;
  color: gray;
}
.side-group .forward i {
  font-size: large;
}
.side-group .button-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.side-group .button-group .BtnGr {
  color: gray;
  background-color: transparent;
  border: 0;
  padding: 0.75rem;
}
.side-group .button-group .BtnGr:hover {
  color: white;
}
.side-group .forward:hover {
  color: white;
}

@media screen and (max-width: 1200px) {
  .side-group {
    display: none;
  }

  .infor-card > .row {
    gap: 10px;
  }

  .card-number .container .row {
    gap: 10px;
  }

  .carousel {
    padding-top: 90px;
  }
}
.carousel .carousel-lists .carouselBtn {
  color: #dc4f72;
  background-color: white;
  outline: none;
  border-radius: 5px;
  border: 1px solid #dc4f72;
  width: 125px;
  height: 50px;
  transition: 0.5s;
}
.carousel .carousel-lists .carouselBtn:hover {
  color: white;
  background-color: #dc4f72;
}
.infor-card .card {
  height: 30vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition-duration: 0.5s;
  border: none;
}

.infor-card .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infor-card .card:hover {
  background-color: white;
  box-shadow: 0px 9px 20px 2px rgb(0 0 0 / 40%);
  transform: translateY(-3px);
  transition-duration: 0.3s;
}
.infor-card .card .card-body .logo-card {
  font-size: 45px;
  color: #dc4f72;
  margin: 1rem 0;
  font-size: 4rem;
}

.fullAbout  .aboutBtn {
  background-color: #dc4f72;
  color: white;
  outline: none;
  border-radius: 4px;
  border: 1px solid #dc4f72;
  width: 125px;
  height: 50px;
  margin-top: 30px;
  transition: 0.5s;
}
.fullAbout .aboutBtn:hover {
  background-color: #d2204c;
}

.card-number .card:hover {
  box-shadow: 0px 9px 20px 2px rgb(0 0 0 / 40%);
}
.card-number .card .card-body h2 {
  color: #dc4f72;
  font-size: 70px;
}


/* totheend */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&family=Oswald:wght@200;300;700&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    transition: all 0.5s;
}

/* Explore Solutions */

.sub-title {
    font-size: 1rem;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.sub-header h3 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    margin:  0 10rem;
}

.sub-header p {
    font-size: 1rem;
    line-height: 22.5px;
    font-weight: 400;
    margin: 0 15%;
}
.solution-item a {
    text-decoration: none;
}

.item-info {
    position: relative;
}

.item-info:hover .news-image {
    filter: grayscale(0%);
}

.item-info .date {
    position: absolute;
    top: 0;
    right: 0;
    /* border: 1px solid #dc4f72; */
    padding: 1rem;
    background-color: #dc4f72;
    color: white;
    font-size: 1.1rem;
    font-weight: 800;
    border-top-right-radius: 1rem;
}

.news-image {
    filter: grayscale(100%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.blog-info {
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-top: 1px solid transparent;
}

.blog-info label {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 5px 16px;
    border-radius: 10rem;
}

.blog-info label.red {
    background-color: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
}

.blog-info label.green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.blog-info label.blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

.blog-info h4 a {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 27px;
}

.item-info:hover .blog-info h4 a {
    color: #dc4f72;
}

.blog-info p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-top: 0.9rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 1.3rem;
    margin-bottom: 1.3rem;
}

.blog-info .btn-news {
    color: #dc4f72;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
}

.blog-info .btn-news:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 25%);
}

.blog-info .btn-news span {
    font-size: 80%;
    font-weight: 700;
}

.item-info:hover .blog-info .btn-news span {
    position: absolute;
    left: 6.5rem;
    top: 0.7rem;
}

.item-info:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translate(0px, -10px);
}

/* General */
#general {
    background-color: #f7f9fc;
}

.general-image {
    position: sticky;
    top: 20rem;
    width: 100%;
}

.general-content .general-page ul li {
    position: relative;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    background: #fff;
}

.general-content .general-page ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 35px;
    top: 25px;
}

.general-content .general-page ul li i:before,
.general-content .general-page ul li i:after {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 3px;
    height: 9px;
}

.general-content .general-page ul li i:before {
    transform: translate(-3px, 0) rotate(45deg);
}

.general-content .general-page ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}
.general-content .general-page ul li input[type="checkbox"]:checked~i::before {
    transform: translate(3px, 0) rotate(45deg);
}
.general-content .general-page ul li input[type="checkbox"]:checked~i::after {
    transform: translate(-2px, 0) rotate(-45deg);
}
.general-content .general-page ul li {
    list-style: none;
    padding: 10px;
}
.general-content .general-page ul li h2{
    font-size: 1.5rem;
    padding-top: 20px;
}
.general-content .general-page ul li p{
   line-height: 1.5rem;
   opacity: 0.8;
   font-size: 1.1rem;

}
.general-content .general-page ul li input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}
.general-content .general-page ul li input[type="checkbox"] ~p {
   line-height: 1.8rem;
    transform: translate(0,20%);
}
.general-content .general-page ul li input[type="checkbox"]:checked~p {
    margin-top:0;
    max-height: 0;
    overflow: hidden;
    transform: translate(0,20%);
}
/* project */

#project .nav-tabs{
   border: none;
    /* border-bottom: 3px solid #eee; */
    padding-bottom: 1rem;
    margin: 2rem 0;
}
/* #project .nav{
    justify-content: space-between;
    padding-left: 2rem;
} */
#project .nav-tabs .nav-link{
    font-size: 1.5rem;
    border: none;
    text-align: center;
    font-weight: 700;
    color: #4e5b61;
    /* margin: 0 4rem; */
    position: relative;
    width: 30%;
}
#project .nav-tabs .nav-link::before{
    content: "";
    width: 100%;
    position: absolute;
    top: 3.5rem;
    left: 10px;
   
    border-bottom:3px solid #eee;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #dc4f72 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active::before{
    border-color: #d62f58 !important;
}
.project-item h3{
    font-weight: 700;
    font-size: 2rem;
}
.project-item p {
    line-height: 1.5rem;
    color: #5a5a5a;
}
.project-item .btn{
    padding: 10px 20px;
}
.project-item img{
    border-radius: 2%;
}
.project-item img:hover{
    transform: translate(0, -10px);
} 
/* testimonials */
#test{
    background-size: cover;
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(./image/b2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.item{
    background-color: white;
    padding: 1rem 1rem 0 1rem;
    margin-right: 1rem;
    
}
.item .img-circle img{
    border-radius: 100%;
    width: 10rem;
    border: 1px solid red;
}
.item .message {
    position: relative;
}
.item .message span{
    position: absolute;
    left: -1.5rem;
    font-size: 2rem;
    opacity: 0.3;
}
.item .message p{
    font-size: 1.2rem;
    line-height: 2rem;
}
.item .name h4{
    color: #dc4f72;
    font-size: 1.2rem;
    font-weight: 600;
}
.item .name p{
    color:#5a5a5a ;
    font-size: 1rem;
}
.owl-theme .owl-nav{
    display: none;
}
.owl-theme .owl-dots, .owl-theme .owl-nav{
    margin-top: 2rem ;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot span{
    width: 40px;
    height: 5px;
    background-color: #fff;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:active span{
   
    background-color:#dc4f72;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color:#dc4f72;
    
}
button:focus{
    outline: none;
}
/* community */
.button a{
    padding: 10px 30px;
    text-transform: uppercase;
    line-height: 2rem;
    margin-right: 1rem;
    font-weight: 700;
    border: 1px solid #dc4f72;
}
.btn-primary{
    background-color: #dc4f72;
   
}
.btn-outline-primary{
    color: #dc4f72;
    border-color: #dc4f72;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-outline-primary:hover ,.btn-outline-primary:active{
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.btn-outline-primary:focus{
    box-shadow: none;
}
.btn-primary:hover{
    background-color:#d62f58;
    border-color: #d62f58;

}
/* community */
footer {
    background-color: #F7F9FC;
}
.footer-top{
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(128, 128, 128,0.3);
}
.footer-title h3{
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 2rem;
}
.footer-menu ul li{
    list-style: none;
}
.footer-menu ul li a{
    font-size: 1rem;
    line-height: 2.5rem;
    color: #5a5a5a;
    text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #dc4f72;
}
.footer-form{
    background-color: white;
    width: 100%;
    padding: 2rem;
    line-height: 2rem;
}
.footer-form h4{
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}
.footer-form input{
    width: 20rem;
    padding: 0.3rem 1rem;
    background-color: #F7F9FC;
    border-color:transparent;
}
.footer-form input::placeholder{
   font-weight: 700;
}
.footer-form button{
    text-align: center;
    background:#dc4f72;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 0.4rem 1.1rem;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius:0.5rem;
}
.footer-form p {
    font-size: 1rem;
    padding-top: 1rem;
    line-height: 1.5rem;
}
.social li {
    list-style: none;
    display: inline;
    padding-right: 2rem;
   
}
.social li a {
    color: black;
    font-size: 1rem;
    transition: 0.1s;
}
.social li a:hover {
    color: #dc4f72   
}
.footer-bottom p{
    font-size: 1.1rem;
}
.footer-bottom p a{
  text-decoration: none;
  color: #4e5b61;
}
.footer-bottom p a:hover{
  color: #dc4f72;
}
@media (max-width: 800px) {
    .sub-header h3{
        margin: 0;
    }
}

@media (max-width: 667px) {
    #project .nav-tabs .nav-link::before{
        content: "";
        width: 100%;
        position: absolute;
        top: 3.5rem;
        left: 10px;
    }
    
    #project .nav-tabs .nav-link{
        font-size: 1rem;
       max-width: 100%;
        text-align: center;
    }
    .message span{
        transform: translate(8rem,10px);
    }
    .testimonial-img{
        margin: 0 auto;
    }
    .general-content .general-page ul li i,
.general-content .general-page ul li i{
    transform: translate(10px, 0px);
    margin-left: 5px;
}
.general-content .general-page ul li h2{
    padding-right: 5px;
}
  }

@media (max-width: 440px) {
   .sub-header h3 {
       margin: 0;
   }
   .name{
       text-align: center;
   }
   #project .nav-tabs .nav-link{
       font-weight: 0
   }
   .item{
       margin:0;
   }
   .testimonial-img{
    margin: 0 50px;
}
   .message span{
       transform: translate(9rem,10px);
       
   }
   .test-info{
       margin: 0;
   }
   .footer-form input{
       width: 10rem;
   }
   .footer-form button{
       padding:5px 7px;
       
   }
   .general-content .general-page ul li i,
   .general-content .general-page ul li i{
       transform: translate(10px, 0px);
   }
   .general-content .general-page ul li h2{
    padding-right:20px;
}

 }

@media (max-width: 384px) {
    .sub-header p{
        max-width:100% ;
        margin: 0;
        padding: 0;
    }
    .testimonial-img{
        margin: 0 20px;
    }
       .message span{
           transform: translate(8rem,10px);
       }
   
 }
